$primary-color: #ff2323;
$secondary-color: $primary-color;
$third-color:#921914;
$menu-link-color: #6f6f6e;
$dark-color: #020d16;
$light-color: #FFF;
$link-color: $primary-color;

@import 'base';
.slider-wrapper .slider-caption .panel .post-item-title a{
    color:$primary-color;
}

.nav-wrapper nav.top-bar li.current-menu-item a:hover,
.nav-wrapper nav.top-bar li.current-menu-ancestor a:hover,
.nav-wrapper nav.top-bar li.current-menu-parent a:hover
{
    color: $light-color;
}
.slider-wrapper .slider-caption .label.category{ 
    background-color:$primary-color;
    color: $light-color;
}

aside .widget-title {
    background: $primary-color;
}
.main-column .call-to-action .button.small {
    background:$primary-color;
}
.main-column .call-to-action .button.small:hover {
    background:$primary-color;
}
.button:hover {
    background:$dark-color;
}